


@media (max-width:1441px) and (min-width: 769px)   {

  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    font-size:1.2em;
  }
  /* Section Living Map */

  #section-living-map .carousel-indicators {
    top: 40%;
    left:56%;
  }


  #section-living-map  img {
    max-height: 300px;
    width: auto;
  }
  /* Section 4 */

  #section4 img {
    width: auto;
  }



   /* Section Carto Engine */
  #section-carto-engine .carousel-indicators {
    top: 45%;
    right: initial;
    margin-left: initial;
  }

  #section-carto-engine h1{
    padding-top:40px;
    padding-bottom: 40px;
  }

  #section-carto-engine .item {
    padding-bottom: 10em;
  }

  #section-carto-engine img {
    height: 220px;
    width: auto;
  }
  /* Section places */ 

  #section-places .carousel-indicators {
    top: 60%;
    right: initial;
    margin-left: initial;
  }

  #section-places .item {
    padding-bottom: 10em;
  }
  #section-places img {
    max-height: 280px;
    width:auto;
  }


  /* Section partners */ 
  #section-partners img {
    width:auto;
    height:50px;
  }


  /* Section Contact */
  #section-contact img {
    width:100%;
    height:auto;
    margin-bottom: 2em;
  }

  .text-contact {
    height:100px;
  }

  #section-contact h2 {
    font-size: 1.5em;
  }

}

/* Smaller landscapes like MDPI Laptop */

@media (max-width:1441px) and (min-width: 769px) and (max-height:899px)  {
  p {
    font-size:1.2em !important;
  }
  
}


/* wide screen */
@media screen and (min-device-aspect-ratio: 1360/768),screen and (max-device-aspect-ratio: 16/10) and (min-width: 769px) { 
  
  .section {
    padding-top: 7%;
  }
  

  #section1 {
    background-size: 100% auto ;
    background-position: 50% 50%;
  }
  #section2 {
    background-size: 100% auto;
    background-position: 50% 50%;
  }

  #section-clients  {
    background: url("PNG/p7_layout_name.png") no-repeat;
    background-size: auto 75%;
    background-position: bottom center;
  }
}